/* Main layout */

a[highlight] {
  font-weight: bold;
  text-decoration: underline;
}

.header {
  padding: 0 var(--lumo-space-m);
}

.header h1.logo {
  font-size: 1em;
  margin: var(--lumo-space-m);
}

/* List view */
.list-view .content {
  display: flex;
}

.list-view .contact-grid {
  flex: 2;
}

.list-view .contact-form {
  flex: 1;
  padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
  .list-view.editing .toolbar,
  .list-view.editing .contact-grid {
    display: none;
  }
}

/* Dashboard view */
.dashboard-view .contact-stats {
  font-size: 4em;
  margin: 1em 0;
}

